// 右侧边栏宽度修改
.side-bar.sub-sidebar-wrapper {
  width: 15rem !important;
}
// 标题栏、主体宽度修改
.page .page-title {
  max-width: 960px;
}
.theme-reco-content.content__default {
  max-width: 960px !important;
}