// 右侧边栏宽度修改
.side-bar.sub-sidebar-wrapper {
  width: 15rem !important;
}
// 标题栏、主体宽度修改
.page .page-title {
  max-width: 990px;
}
.theme-reco-content.content__default {
  max-width: 990px !important;
}

.home .home-center p {
  // position relative;
  text-align: center;
}
// .home .home-center p a {
//   position: absolute;
//   left: 50%;
//   transform: translateX(-50%);
//   top: 100%;
// }